#form{
    border:solid 1px;
    width: 30%;
    padding: 20px;
    margin:  auto;
    background-color:darkcyan;
    border-radius: 30px;

}
.input{
padding: 12px 16px;
width:80%;
border-radius:5px ;
border: solid 1px;
margin-left: 10%;

}
label{
    margin-left: 10%;

}
button{
    padding:6px 12px ;
    width: 50%;
    border: none;
    border-radius: 20px;
    color: white;
    background-color:rgb(18, 23, 36);
    margin-left: 10%;
}
.bt{
    width: 34%;
}

